[user]
	name = smallkirby
	email = ssmallkirby@gmail.com
	#signingkey = ADD55187E2CFF630
[push]
  defalt = matching
  autoSetupRemote = true
[init]
	defaultBranch = master
[commit]
	gpgsign = true
[alias]
  st = status --short --branch --untracked-files=all
  unstage = restore --staged
  sw = switch
  ch = switch
  d = diff
  hist = log -p
  #co = commit -s -S # default command cannot be overridden
  co = commit
  sync = fetch --all
  now = rev-parse --verify HEAD --short
  forget = rm --cached

[core]
  pager = less

[pager]
  show = vimpager
