[user]
	name = smallkirby
	email = ssmallkirby@gmail.com
	signingkey = ADD55187E2CFF630
[push]
  autoSetupRemote = true
  default = matching
[init]
	defaultBranch = master
[commit]
	gpgsign = true
[alias]
  cmp = diff --no-index
  ch = switch
  co = commit -s -S
  d = diff
  forget = rm --cached
  hist = log -p
  now = rev-parse --verify HEAD --short
  nowb = rev-parse --abbrev-ref HEAD
  push-f = pf
  pf = push --force-with-lease --force-if-includes
  st = status --short --branch --untracked-files=all
  sync = fetch --all
  sw = switch
  unstage = restore --staged

[core]
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true
  side-by-side = true

[diff]
  colorMoved = default

[filter "lfs"]
	clean = git-lfs clean -- %f
	process = git-lfs filter-process
	smudge = git-lfs smudge -- %f
	required = true
