[user]
	name = smallkirby
	email = ssmallkirby@gmail.com
	signingkey = ADD55187E2CFF630
[push]
  defalt = matching
  autoSetupRemote = true
[init]
	defaultBranch = master
[commit]
	gpgsign = true
[alias]
  st = status --short --branch --untracked-files=all
  unstage = restore --staged
  sw = switch
  ch = switch
  d = diff
  hist = log -p
  co = commit -s -S # default command cannot be overridden
  sync = fetch --all
  now = rev-parse --verify HEAD --short
  forget = rm --cached
  cmp = diff --no-index

[core]
  pager = delta

[interactive]
  diffFilter = delta --color-only

[pager]
  show = vimpager

[delta]
  navigate = true
  side-by-side = true

[diff]
  colorMoved = default

